* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-body {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    background-color: blue;
    color: #fff;
}
.footer-container {
    width: 100%;
    margin: 0 40px;
    padding: 0 20px;
}
.footer-container-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #2196F3;
}
.footer-container-top-a {
    color: #fff;
    text-decoration: none;
}
.footer-container-top-a:hover {
    text-decoration: underline;
    color: #fff;
}
.footer-container-top img {
    width: 100px;
    margin-bottom: 30px;
}
.footer-container-top-icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 100px;
}
.footer-container-top-icons1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2196F3;
    cursor: pointer;
    margin-top: 20px;
}
.footer-container-top-icons1:hover {
    background-color: #4EA6EE;
}
.footer-container-top-buttons {
    width: 380px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.footer-container-top-buttons button {
    width: 170px;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}
.footer-container-top-buttons button:hover {
    background-color: #4EA6EE;
}
.footer-container-top-buttons button p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
}
.footer-container-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 20px 0 20px;
}
.footer-container-bottom p a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-container-bottom p a:hover {
    color: #fff;
    text-decoration: underline;
}